.todo_list_container{
    display: flex;
    margin-left: 180px;
    margin-top: 5px;
    margin-right: 210px;
    justify-content: space-between;
    
}
.todo_list_card{
    border: 3px solid orangered;
    text-align: center;
    border-radius: 12px;;
    width: 25%;
    height: 340px;
    font-size: large;
    box-shadow: 4px 3px 2px gray;
    
}
.Head{
    font-weight: bold;
}
.basic{
    margin-top: 150px;
    margin-left:190px;
    display: flex;
}
.task{
    font-size: 2.5em;
    width:970px;
    
}
.add{
    font-size: 1.5em;
}
.circle{
    border: 2px solid orangered;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
    background-color: orangered;
    font-size: 1.5em;
}
.inside{
    text-decoration: line-through solid red;
}

.fade{
    filter: blur(5px);
}
.backblur{
    margin-top: -200px;
    margin-left: 550px;
   justify-content: center;
   border: 3px solid orangered;
    text-align: center;
    border-radius: 12px;;
    width: 25%;
    height: 200px;
    font-size: large;
    box-shadow: 4px 3px 2px gray;
    background-color:white;
}
.button{
    margin-top: 5px;
    background-color: orange;
    width: 65px;
    border-radius: 6px;
}
h1{
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    margin-top: 80px;
}
h1:after,h1:before{
    content: '';
    width:150px;
    height: 2px;
    margin:0 10px;
    box-shadow: 2px 2px 1px grey;
}
.paris{
    justify-content:center;
    width:500px;
    height:60px;
   margin-top: 40px;
    margin-left: 500px;
    display: flex;
    text-align: center;
}
.newcircle{
    border: 2px solid orangered;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
    background-color: orangered;
    font-size: 1.5em;
    margin-left: 100px;
}
.parisbox{
    margin-left: 650px;
    margin-top: 20px;
}
.bottomcircle{
    border: 2px solid orangered;
    border-radius: 50%;
    width:25px;
    height:25px;
    text-align: center;
    background-color: orangered;
    font-size: 1.5em;
    margin-left:85%;
    margin-top: 40%;
}